/*右侧树形目录菜单*/
.el-menu,.el-submenu .el-menu{background:#32323a;}
.el-menu li{border-bottom:1px solid #29282e;text-align: left;}
li.el-menu-item:last-child{border-bottom:0;}
li.el-menu-item-group{border-bottom:0}
.el-menu-item, .el-submenu__title{
  color:#bfdae1;
  height:47px;
}
.el-menu-item.is-active{color:#b2b9c1;}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover,.el-menu-item.is-active,.el-menu-item:hover{
  background-color:#22b7b5;
  color:#fff;
}
.el-menu-item-group__title{padding-top:0;}
/*消息条*/
.trunDiv{height:36px;line-height:36px;background-color:#32323a;color:#ffdd3e;text-align: left;}
.areaDiv{padding:20px;}
/*面包屑*/
.el-breadcrumb{padding:20px 0 0 20px;}
/*跑马灯*/
.bg-purple-dark{background:#32323a;color:yellow;line-height: 40px;text-align:left;}

img{display:block;}

.el-dialog__body {
    padding:0;
    color: #48576a;
    font-size: 14px;
}

.dialog-footer {
    width:100%;
    background: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}

.el-dialog {
    position: absolute;
    left: 50%;
    margin-left: -6%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.el-dialog--small {
    width: 42%;
}
